* {
  margin: 0;
  padding: 0;
}

:root {
  --txt: #181818;
  --bg: #f8f8f8;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --txt: #f8f8f8;
    --bg: #181818;
  }

}

body {
  --radius: 0.25rem;
  background-color: var(--bg);
  color: var(--txt);
}

main {
  border: 0px solid red;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  max-width: 100vw;
}

h1, h2 {
  margin:0.5rem;
  padding: 0;
}



/* Download section - OLD */

nav {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black;
  background-color: white; */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
nav > * {
  padding: 0.5rem;
}


/* Autoform - OLD */

.auto-form, aside {
  border: 1px solid var(--txt);
  background-color: var(--bg);
  color: var(--txt);
  padding: 1rem;
  margin: 0.5rem;
}

nav, .auto-form, aside {
  border-radius: var(--radius);
}

.auto-form .object-input {
  display: grid;
  grid-template-columns: 1fr 2fr 3rem 3rem;
  min-width: 300px;
}

.row {
  border: 0px solid blue;
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: subgrid;
  margin: 0.5rem;
}
.row :first-child {
  border: 0px solid green;
  justify-self: end;
  padding-right: 0.5rem;
}
.row :last-child {
  border: 0px solid red;
}

.row .value {
  justify-self: end;
  padding-right: 0.5rem;
}
.row input {
  margin-right: 0.25rem;
}
